
@media (max-width: 767px) {
    .navbar {
      text-align: center;
    }
  
    .menu {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .tarjetitas {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .tarjetita {
      width: 100%;
    }
  
    .informacion {
      text-align: center;
    }
  }
 


  

  
    .boton-comprar {
      margin-top: 10px;
    }
  

  
    .contacto {
      text-align: center;
    }
  
    .contacto-formulario {
      width: 100%;
      max-width: 100%;
      padding: 0 20px; 
    }
  
    .campo {
      margin-bottom: 20px;
    }
  
    .campo label {
      display: block;
      text-align: left;
      margin-bottom: 5px;
    }
  
    .campo input,
    .campo textarea {
      width: 100%;
      padding: 10px;
      margin: 0;
    }
  
    .boton-enviar {
      margin-top: 20px;
    }
  
    .pie {
      text-align: center;
    }
  
    .iconos {
      justify-content: center;
    }
 

  
    .preguntas {
      padding-left: 15px; 
    }
  
    .list-group-item {
      padding: 10px; 
      margin-bottom: 10px; 
    }
  
    .bg-danger {
      width: 100%;
    }
    
    .pie {
      text-align: center;
    }
  
    .iconos {
      justify-content: center;
    }
  
    
  
    .quienes-somos-titulo {
      text-align: center;
    }
  
    .quienes-somos-contenido {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .quienes-somos-mision,
    .quienes-somos-vision,
    .quienes-somos-valores {
      margin-bottom: 20px;
    }
  
    .quienes-somos-valores .container {
      padding: 0;
    }
  
    .card {
      margin-bottom: 20px;
    }
  
    .pie {
      text-align: center;
    }
  
    .iconos {
      justify-content: center;
    }
  
  
  
  